<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" type="text/css">

</head>
<body ng-app="app" ng-controller="mainController">
<md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column" style="font-size:1.2em">
    <md-input-container>
        <label>Title</label>
        <input ng-model="user.title">
    </md-input-container>
    <md-input-container>
        <label>Email</label>
        <input ng-model="user.email" type="email">
    </md-input-container>
</md-content>
<md-content class="md-padding" layout="row">
    <div flex>
        <md-button class="md-raised md-primary md-hue-1">Enter</md-button>
        <md-button class="md-primary md-raised md-hue-2">Enter2</md-button>
        <md-button class="md-accent md-raised">ACCENT</md-button>
    </div>
    <div flex>
        <md-select placeholder="Pick" ng-model="someVal">
            <md-option value="1">1</md-option>
            <md-option value="2">2</md-option>
        </md-select>
        <ng-md-icon icon="account_balance" style="fill: red"></ng-md-icon>
    </div>
</md-content>
<md-progress-linear md-mode="indeterminate"></md-progress-linear>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
<script src="mainController.js"></script>
</body>
</html>