<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" type="text/css">

</head>
<body ng-app="app" ng-controller="mainController">
<md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column" style="font-size:1.2em">
    <md-input-container>
        <label>Title</label>
        <input ng-model="user.title">
    </md-input-container>
    <md-input-container>
        <label>Email</label>
        <input ng-model="user.email" type="email">
    </md-input-container>
</md-content>
<md-content class="md-padding">
    <form name="userForm">
        <div layout layout-sm="column">
            <md-input-container style="width:80%">
                <label>Company (Disabled)</label>
                <input ng-model="user.company" disabled>
            </md-input-container>
            <md-input-container flex>
                <label>Submission Date</label>
                <input type="date" ng-model="user.submissionDate">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>First Name</label>
                <input ng-model="user.firstName" placeholder="Placeholder text">
            </md-input-container>
            <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="theMax">
            </md-input-container>
        </div>
        <md-input-container flex>
            <label>Address</label>
            <input ng-model="user.address">
        </md-input-container>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>City</label>
                <input ng-model="user.city">
            </md-input-container>
            <md-input-container flex>
                <label>State</label>
                <input ng-model="user.state">
            </md-input-container>
            <md-input-container flex>
                <label>Postal Code</label>
                <input ng-model="user.postalCode">
            </md-input-container>
        </div>
        <md-input-container flex>
            <label>Biography</label>
            <textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
        </md-input-container>
    </form>
</md-content>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="mainController.js"></script>
</body>
</html>